{% extends 'admin/admin_home.html' %}

{% block content %}
<div class="container">
    <div class="container-fluid bg-secondary text-white rounded my-4">
        <h3 class="text-center fw-semibold py-5">Orders List</h3>
    </div>

    {% if orders %}
    <div class="container">
        <div class="row g-3">
            {% for order in orders %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-header text-center">
                        <h5 class="my-2">{{ order.product.product.product_name }}</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 d-flex flex-column justify-content-center">
                                <p><strong>Status:</strong> <span class="text-success fw-bold text-capitalize">{{ order.status }}</span></p>
                                <p><strong>Delivery to:</strong> {{ order.address }}</p>
                                {% if order.user.first_name %}
                                <p><strong>Order by:</strong> {{ order.user.first_name }}</p>
                                {% else %}
                                <p><strong>Order by:</strong> @{{ order.user }}</p>
                                {% endif %}
                                <p><strong>Phone no:</strong> {{ order.phone }}</p>
                                <p><strong>Quantity:</strong> {{ order.product.quantity }}</p>
                            </div>
                            <div class="col-md-6 d-flex flex-column justify-content-center">
                                <img src="{{ order.product.product.image.url }}" class="img-fluid"
                                    alt="product-image" />
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'admin_orders_update' order.id %}" title="order_item"
                        class="btn btn-danger w-75 mx-auto my-1">Update</a>
                    <div class="card-footer text-end">
                        <small class="text-muted">{{ order.created_at }}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="alert alert-info text-center" role="alert">
            No past orders found.
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}