{% extends 'index.html' %}



{% block header %}
<div class="container bg-dark text-white rounded">
    <h2 class="text-center py-5">Product Details</h2>
</div>
{% endblock %}


{% block content%}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <!-- Sale badge-->
                <div class="badge bg-dark text-white position-absolute flex-grow-1" style="top: 0.5rem; right: 0.5rem">
                    Sale
                </div>
                <!-- Product image-->
                {% if product.image %}
                <img class="card-img-top" src="{{product.image.url}}" alt="..." />
                {% else %}
                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                {% endif %}
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{product.product_name}}</h5>
                        <!-- Product reviews-->
                        <div class="d-flex justify-content-center small text-warning mb-2">
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex">
            <div class="card">
                <div class="card-body flex-grow-1 d-flex flex-column justify-content-end">
                    <span class="mb-1 fw-semibold">Description : -</span>
                    <p>
                        {{product.description}}
                    </p>
                    <!-- Product price-->
                    <div>
                        <strong>Price</strong> : <span class="text-muted text-decoration-line-through">$ {{product.price}}</span>
                    <strong>$ {{product.price}}</strong>
                    </div>
                    <hr>
                    <!-- Product actions-->
                    <a href="{% url 'add_to_cart_view' product.id %}" class="btn btn-primary w-75 mx-auto mb-1">ADD to
                        CART</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}